@import '../../styles.scss';

:host ::ng-deep {
  .logo-header{
    height: 56px;
    position: absolute;
    margin-left: -10px;
  }
  .lema{
    text-align: center; width: 100%; color: rgb(153, 254, 255);
    margin-top: -20px;
  }
  .number-tab{
    border-radius: 50%;
    background-color: rgb(153, 153, 255);
    color: white;
    width: 25px;
    text-align: center;
  }
  .content-main{
    padding: 20px;

    input{
      width: 100%;
    }
  }

  .container-main{
    h3{
      width: 100%;
      text-align: center;
    }
  }

  .container-diagnostico{
    .ui-g-12{
      margin-bottom: -15px;
    }

    .ui-multiselect{
      width: 50%;
    }
  }

  .ui-tabview-left>.ui-tabview-nav{
    margin-top: 20px;
  }

  .ui-tabview .ui-tabview-nav{
    > li{
      border-radius: 8px 0px 0px 8px;
      background-color: $tabs-color;
      boder-color: $tabs-border-color;
      margin-bottom: 5px;
      a {
        color: white;
      }
    }
    >li.ui-state-active{
      background-color: $color-background;
      a{
        color: $text;
      }
    }
  }

  .ui-tabview-left>.ui-tabview-panels{
    width: 80%;
  }

  .ui-tabview-left>.ui-tabview-nav{
    width: 20%;
  }

  .ui-tabview .ui-tabview-panel{
    background-color: $color-background;
    height: 470px;
    border-radius: 10px;
  }

  .ui-tabview.ui-widget-content{
    background-color: $color-background-main;
  }

  td .ui-dropdown label.ui-dropdown-label{
    /*font-size: 10px;*/
    height: 20px;
  }
}

.table-editable{
  width: 100%;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #CCFECC;

  th {
    background-color: #00B2B2;
    color: white;
  }

  .item-dialogo{
    color: $tabs-color;
    font-weight: bold;
    padding-left: 5px;
    font-size: 12px
  }

  .item-actividad{
    color: $text;
    font-size: 12px;
  }

  td > div {
    height: 30px;
  }

  .item-periodo .ui-g{
    margin-top: -25px;
  }
}

.table-no-editable{
  background-color: white;
}

.inline{
  display: inline!important;
}

.title-bed-room{
  width: 100%;
  height: 20px;
  background-color: $color-background-main;
  color: white;
  text-align: center;
}

.content-bed-room{
  width: 100%;
  text-align: center;
  font-size: 28px;
  background-color: white;
  height: 40px;
}
