@import '../../styles.scss';

:host ::ng-deep {
  .lema{
    text-align: center; width: 100%; color: rgb(153, 254, 255);
    margin-top: -20px;
  }
  .number-tab{
    border-radius: 50%;
    background-color: rgb(153, 153, 255);
    color: white;
    width: 25px;
    text-align: center;
  }
  .content-main{
    padding: 20px;

    input{
      width: 100%;
    }
  }

  .container-main{
    h3{
      width: 100%;
      text-align: center;
    }
  }

  .container-diagnostico{
    .ui-g-12{
      margin-bottom: -15px;
    }

    .ui-multiselect{
      width: 50%;
    }
  }

  .ui-tabview-left>.ui-tabview-nav{
    margin-top: 20px;
  }

  .ui-tabview .ui-tabview-nav{
    > li{
      border-radius: 8px 0px 0px 8px;
      background-color: rgb(76, 76, 254);
      boder-color: $tabs-border-color;
      margin-bottom: 5px;
      a {
        color: white;
      }
    }
    >li.ui-state-active{
      background-color: $color-background;
      a{
        color: $text;
      }
    }
  }

  .ui-tabview-left>.ui-tabview-panels{
    width: 80%;
  }

  .ui-tabview-left>.ui-tabview-nav{
    width: 20%;
  }

  .ui-tabview .ui-tabview-panel{
    background-color: $color-background;
    height: 470px;
    border-radius: 10px;
  }

  .ui-tabview.ui-widget-content{
    background-color: $color-background-main;
  }
}
