/* You can add global styles to this file, and also import other style files */


//$color-background: rgb(254, 255, 153);
$color-background: #b6ecb8;

$text: rgb(51, 51, 51);
$tabs-border-color: rgb(0, 0, 178);
//$tabs-color: rgb(76, 76, 254);
$tabs-color: #2399e5;
/*$color-background-main: rgb(153, 153, 255);*/
$color-background-main: #26b262;
$tabs-link-color: white;

body{
  background-color: $color-background-main!important;
  color: $text!important;
}
